{% extends 'base.html' %}

{% block content %}
    <h2>新建文章</h2>

    <form method="POST" class="post-form">
    {% csrf_token %}
        {{ form.as_ul }}
        <p>
            <label for="tag">标签(逗号隔开)：</label>
            <input id="tag" name="tags" type="text" class="form-control" placeholder="tags" style="width: 60%;" value="{{ tags }}" />
        </p>
        <button type="button" class="save btn btn-default" onclick="location.href='/drafts/'">取消</button>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}